<div class="content container p-5" role="main">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <div class="input-group" style="margin-bottom: 10px;">
                <span class="input-group-text"><i class="fa fa-search fa-lg" aria-hidden="true"></i></span>
                <input type="text" placeholder="find patient name" class="form-control form-control-md"
                    name="searchText" [(ngModel)]="searchText" style="margin-right: 20px;" (keyup)="Search()">
            </div>
        </div>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourse">

            <ng-container matColumnDef="staffName">
                <th mat-header-cell *matHeaderCellDef (click)="ChangeStatusOfColumn('staffName')">
                    <div class="row">
                        <div class="col-md-6">
                            StaffName
                        </div>
                        <div class="col-md-6">
                            <div *ngIf="column== 'staffName' && status == 'asc'">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <div *ngIf="column== 'staffName' && status == 'desc'">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.staffName}} </td>
            </ng-container>

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef (click)="ChangeStatusOfColumn('age')">
                    <div class="row">
                        <div class="col-md-6">
                            Age
                        </div>
                        <div class="col-md-6">
                            <div *ngIf="column== 'age' && status == 'asc'">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <div *ngIf="column== 'age' && status == 'desc'">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef (click)="ChangeStatusOfColumn('gender')">
                    <div class="row">
                        <div class="col-md-6">
                            Gender
                        </div>
                        <div class="col-md-6">
                            <div *ngIf="column== 'gender' && status == 'asc'">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <div *ngIf="column== 'gender' && status == 'desc'">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef (click)="ChangeStatusOfColumn('department')">
                    <div class="row">
                        <div class="col-md-6">
                            Department
                        </div>
                        <div class="col-md-6">
                            <div *ngIf="column== 'department' && status == 'asc'">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <div *ngIf="column== 'department' && status == 'desc'">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.department}} </td>
            </ng-container>

            <ng-container matColumnDef="specialization">
                <th mat-header-cell *matHeaderCellDef (click)="ChangeStatusOfColumn('specialization')">
                    <div class="row">
                        <div class="col-md-6">
                            Specialization
                        </div>
                        <div class="col-md-6">
                            <div *ngIf="column== 'specialization' && status == 'asc'">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <div *ngIf="column== 'specialization' && status == 'desc'">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef (click)="ChangeStatusOfColumn('phoneNumber')">
                    <div class="row">
                        <div class="col-md-6">
                            PhoneNumber
                        </div>
                        <div class="col-md-6">
                            <div *ngIf="column== 'phoneNumber' && status == 'asc'">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <div *ngIf="column== 'phoneNumber' && status == 'desc'">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef (click)="ChangeStatusOfColumn('address')">
                    <div class="row">
                        <div class="col-md-6">
                            Address
                        </div>
                        <div class="col-md-6">
                            <div *ngIf="column== 'address' && status == 'asc'">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <div *ngIf="column== 'address' && status == 'desc'">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef (click)="ChangeStatusOfColumn('email')">
                    <div class="row">
                        <div class="col-md-6">
                            Email
                        </div>
                        <div class="col-md-6">
                            <div *ngIf="column== 'email' && status == 'asc'">
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                            <div *ngIf="column== 'email' && status == 'desc'">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{searchText}}"</td>
            </tr>
        </table>

        <div>
            <div class="row"> 
                <div class="col-md-9 " style="padding: 0.1%;">
                    <select class="form-select form-select-md float-end" name="pageSize" [(ngModel)]="pageSize"
                        (change)="selectPageSize()" style="width: 10%">
                        <option [value]="5" selected>5</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                    </select>
                    <p class="float-end" style="padding: 0.5%;">page Size: </p>

                </div>
                <div class="col-md-3 row">
                    <div class="col-md-4 text-center" style="padding-top: 3%;">
                        <div *ngIf="pageNumber - 1 !==0">
                            <i class="fa-solid fa-chevron-left" (click)="pageNumberChange('down')"></i>
                        </div>

                    </div>
                    <div class="col-md-4" style="padding-top: 1%;">
                        <input class="form-control form-control-md" type="number" min="1" style="width: 80%" [(ngModel)]="pageNumber" (keyup)="getAll()">
                        <!-- <p class="fs-5 text-center"> {{pageNumber}}</p> -->
                    </div>
                    <div class="col-md-4 text-center" style="padding-top: 3%;">
                        <div *ngIf="pageNumber + 1 !== maxPage +1">
                            <i class="fa-solid fa-chevron-right " (click)="pageNumberChange('up')"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>